

.pg1{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
    
}
.items{
    border: 2px solid black;
    width: 10em;
    height: 10em;
    display: flex;
    
}